<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p  [%c{1}] [%t] %m %n" />
		</layout>
	</appender>
	
	<!-- Loggers -->
	<logger name="org.springframework">
		<level value="error" />
	</logger>

	<logger name="org.springframework.nanotrader.data">
		<level value="error" />
	</logger>
	
	<logger name="org.springsource.nanotrader">
		<level value="error" />
	</logger>
	
	<logger name="org.springframework.nanotrader.service.support">
		<level value="error" />
	</logger>
	<logger name="org.springframework.nanotrader.web.security">
		<level value="error" />
	</logger>
	
	
	<logger name="org.springframework.data.gemfire">
		<level value="error" />
	</logger>
	
	<logger name="org.hibernate">
		<level value="error" />
	</logger>


	<!-- Root Logger -->
	<root>
		<priority value="error" />
		<appender-ref ref="console" />

	</root>

</log4j:configuration>