<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
	<display-name>Nanotrader-Services</display-name>
	
    <!-- Location of Java @Configuration classes that configure the components that makeup this application -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>META-INF/spring/integration/application-context.xml</param-value>
    </context-param>
	
	  <!-- Creates the Spring Container shared by all Servlets and Filters -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
	
	
<!-- 	<servlet> -->
<!-- 		<servlet-name>service</servlet-name> -->
<!-- 		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class> -->
<!-- 		<init-param> -->
<!-- 			<param-name>contextClass</param-name> -->
<!-- 			<param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value> -->
<!-- 		</init-param> -->
<!-- 		 <init-param> -->
<!--             <param-name>contextConfigLocation</param-name> -->
<!--             <param-value></param-value> -->
<!--         </init-param> -->
<!--         <load-on-startup>1</load-on-startup> -->

<!-- 	</servlet> -->
<!-- 	<servlet-mapping> -->
<!-- 		<servlet-name>service</servlet-name> -->
<!-- 		<url-pattern>/*</url-pattern> -->
<!-- 	</servlet-mapping> -->

	<!-- Disables servlet container welcome file handling. Needed for compatibility with Servlet 3.0 and Tomcat 7.0 -->
	<welcome-file-list>
		<welcome-file />
	</welcome-file-list>

</web-app>