target
.project
.classpath
.settings
.springBeans
build
.gradle
bin
vf.gf.dmn-events.txt
vf.gf.dmn-license.cfg
dist
sqlfireclient-1.0.3.jar
config/lobot.yml
.architect
*.xds
metadata/
.sass-cache/
Gemfile.lock
Guardfile
