.market-summary .table {
  margin-bottom: 0;
}

.table td.right {
  text-align: right;
}

.table td.centered, .table th.centered {
  text-align: center;
}

.centered {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.x-docked-top .logo {
  background: inline-image('icons/logo.png') left top no-repeat;
  margin-top: 2px;
  margin-left: 4px;
  display: inline-block;
  height: 46px;
  width: 150px;
}

.width-half {
  width: 50%;
}

// From spring-nanotrader-web/.../style.css
.icon-custom {
  background-image: url(../images/icon-custom.png);
}

.icon-custom.icon-gains {
  background-position: -21px -21px;
  margin: 3px 7px 0 0;
}

.icon-custom.icon-lost {
  background-position: -3px -41px;
  margin: 3px 7px 0 0;
}

.x-list-disclosure:before {
  content: '4' !important;
  font-size: 18px !important;
  line-height: 36px !important;
}

.x-chart-watermark {
  display: none !important;
}

.holding-list-header .x-html {
  padding-left: 6px;
  .table th {
    border: none;
    font-size: 0.8em;
  }
}

.x-html .holding-list table {
  margin-bottom: 0;
  & td, th, caption {
    padding: 0;
  }
  & td.right, th.right {
    text-align: right;
  }
  & td.center, th.center {
    text-align: center;
  }
}

.holding-list > .x-innerhtml {
  padding-right: 48px !important;
  font-size: 1.2em;
}

.x-list-emptytext {
  font-size: 2.0em;
}

.holding-list-header .x-html, .well.show-well .x-html, .quote .x-html, .sell-confirmation .x-html {
  padding: 0;
}
