body {
	font: 76% Arial, Helvetica, sans-serif;
	border: 0;
	margin: 0;
	min-width: 990px;
}
#vmware-bg {
	background: url('../images/1.0/bg-wrapper.gif') repeat-x;
}
#header-logo {
	background: url('../images/1.0/ntlogo.jpg') no-repeat;
	width: 153px;
	height: 23px;
	margin-left: 35px;
	margin-top: 20px;
	cursor: pointer;
	float: left;
}
#headerLinks ul li a {
	color: #88C7FC;
	text-decoration: none;
}