

<form name="profileform" class="well form-horizontal" action="#/accountprofile" id="profileForm">
	<legend>Account Profile</legend>

    <div class="control-group">
      <label class="control-label" for="fullname">Full name</label>
      <div class="controls">
			<input id="fullname" type="text" class="span3" value="<%= fullname %>">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="userid">UserId</label>
      <div class="controls">
		<input id="userid" type="text" class="span3 required" value="<%= userid %>">
        <p class="help-block">Alphabets or Numbers (3 to 25 chars)</p>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="passwd">Password</label>
      <div class="controls">
		<input id="passwd" type="password" class="span3" value="<%= passwd %>">
        <p class="help-block">Alphabets, Numbers of these [!@#$%^*()_] (3 to 25 chars)</p>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="password_confirm">Password Confirmation</label>
      <div class="controls">
		<input id="password_confirm" type="password" class="span3" value="<%= passwd %>">
        <p class="help-block">Must match above</p>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="email">Email</label>
      <div class="controls">
		<input id="email" type="text" class="span3" value="<%= email %>">
        <p class="help-block">A valid email address</p>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="address">Address</label>
      <div class="controls">
		<input id="address" type="text" class="span3" value="<%= address %>">
        <p class="help-block">Alphabets or Numbers (3 to 100 chars)</p>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="creditcard">Creditcard</label>
      <div class="controls">
		<input id="creditcard" type="text" class="span3" value="<%= creditcard %>">
        <p class="help-block">Must be 16 digits</p>
      </div>
    </div>

  <button type="submit" class="btn-success">Submit</button>
  <div id="result"></div>
</form>

