#vmware-bg {
	background: url('../img/bg-wrapper.gif') repeat-x;
}
/* HEADER */
#headerLogo {
	background: url('../img/ntlogo.jpg') no-repeat;
	width: 153px;
	height: 23px;
	margin-left: 35px;
	margin-top: 20px;
	cursor: pointer;
	float: left;
}

#headerfooter {
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #999999;

	position: relative;
	z-index: 2;
	height: 60px;
	background: transparenturl(../images/1.0/header_background.jpg) repeat-x scroll
}
