.line
{
    padding: 5px;
    border-bottom: 1px solid #CCCCCC;
}
#console
{
    width: 700px;
}
#console .info
{
    /*color: green;*/
}
#console .success
{
    color: green;
}

#console .error
{
    color: red;
}
.line .type
{
    font-weight: bold;
    text-transform: uppercase;
}