body {
	font-size:15px;
}
.navbar .dropdown-menu {
	background:#454444;
}
.table th, .table td {
	vertical-align:middle;
	text-align:center;
	border-bottom:1px solid #dddddd;
}
.table th, .table td {
	text-align:center;
	border-bottom:1px solid #dddddd;
}
.table tr td:first-child {
	text-align:left;
}
.table td.gray { 
	border-left:1px solid #ffffff;
}
.row.show-table  .well.show-well {
	border-radius:4px;
	border:1px solid #cacacd;
	margin:4px;
	padding:20px;
	position:relative;
}
.row.show-table {
    margin: -30px 0 30px;
    position: relative;
	padding:30px 0 0;
}
.row.show-table .table.table-center tr td:first-child {
	text-align:left;
}
.row.show-table .well.show-well .well {
	background:#ffffff url(../images/bg-small.gif) top repeat-x;
	padding:4px;
	border:1px solid #cacacd;
	position:relative;
	box-shadow:0 -5px 5px #cccccc;
	margin:-45px 0 10px;
}
.row.show-table .well td.gray{ 
	border-left:0;
}
.row.show-table  .well.show-well{ 
	background:#ffffff url(../images/bg-small2.gif) top repeat-x;
}
label, input, button, select, textarea {
	font-size:15px;
	color:#656565;
}
.show-table-total th{
	border-top:0;
	text-align:left;
	font-size:20px;
	color:#000000;
}
.show-table-total td {
	background-color:#f0f6de;
}
.show-table-total .large-size {
	font-size:20px;
	line-height:22px;
	font-weight:bold;
}
.help-inline {
	font-size:10px;
}
.navbar-inner {
    padding: 0px 3px;
    margin: 0px;
}

/* @group of common pages
-------------------------------------*/
.well.show-well {
    border: 0px;
	border-bottom:1px solid #d6d6d6;
}
.well {
	border-radius:0;
}

.well.show-well .title { 
    padding: 0px;
	border: 0px;
}
.accordion-heading .accordion-toggle {
    padding: 0px 0px 0px 10px;
}
.well.show-well .title  a {
    color: #656565;
    font: 18px/45px Arial,sans-serif;
    text-shadow: 0 1px 1px #E1E1E1;    
}
.well.show-well .title .btn-transaction span{
	display:inline-block;
	background:url(../images/btn-transaction-320x480.png) center top no-repeat;
	height:29px;
	width:43px;
	position:absolute;
	right:10px;
	top:10px;
	margin:0;
}
.well.show-well .title.active .btn-transaction span{ 
	background-position: center bottom;
}
.well.show-well .title .btn-transaction {
	display:block;
	height:45px;
	position:relative;
	padding:0 19px 0 8px;
	color:#666666;
	text-shadow:0 1px 1px #ffffff;
}
.well.show-well .title .btn-transaction:hover { 
	text-decoration:none;
}
.well.show-well .title h3 { 
    text-shadown: none;
	margin-left:20px;
}
.row.show-table {	
	position:relative;
}
.row.show-table table td {
    margin: 0px;
	text-align:center;
}
.row.show-table table th{ 
	border:0;
	padding:0 0 10px;
	text-align:center;
	font:normal 18px/20px Arial, sans-serif;
}
.span6 .well.show-well table tr td:nth-child(odd)  {
	color:#000000;
}
.span6 .well.show-well table tr td:nth-child(even), .span6:last-child .well.show-well table tr td:nth-child(even) {
  background-color: #f9f9f9;
}
table tbody tr.summary td,
.span6 .well.show-well table tbody tr.summary:hover td,
.span6 .well.show-well table tbody tr.summary td.average,
.span6 .well.show-well table tr.summary:hover td:nth-child(even),
.span6:last-child .well.show-well table tr.summary:hover td:nth-child(even),
.span6:last-child .well.show-well table tr.summary:last-child:hover td:nth-child(odd)  {
	background-color: #f0f6dd !important;
	border-bottom:1px solid #e9e9e9 !important;
}
.completed, .uncompleted  {
	font-size:10px;
}
.btn-indent {
	margin-top:15px;
}
.modal {
	width:285px;
	margin:-250px 0 0;
}
.container.page {
    padding: 5px;
}
.container.sub-page .span9.columns {
	background:#ffffff;
	border-top:1px solid #bbbdbf;
	border-bottom:1px solid #bbbdbf;
	padding-top:10px;
}
.container.sub-page h3{
	color:#000000;
	font-size:20px;
	font-weight:bold;
	margin:0;
}
.container.sub-page h3 span{ 
	color:#656565;
	font-size:15px;
	margin-top:10px;
}
.container.profile-page .sidebar {
	padding-left:0;
	padding-right:0;
}
.sub-page .span2.columns.sidebar {
	background:#f4f6f6;
	border-top:1px solid #c9caca;
	border-bottom:1px solid #c9caca;
	margin-top:10px;
}
.sub-page .span2.columns.sidebar h3 {
	margin-left:0;
} 
.sub-page .span2.columns.sidebar p {
	font-weight:bold;
}
.sub-page .span2.columns.sidebar .btn-inverse { 
	text-align:right;
}
.btn {
	font-size:15px;
	padding:4px 15px;
}
.well.show-well .table-outer.collapse{
	padding:0;
}
.well.show-well .table-outer.in{
	padding:5px;
}
.navbar .nav-collapse {
	padding:0 5px;
}
.icon-down-arrow {
    top: 0px;
}

/* @group footer 
--------------------------------------*/
.footer {
	padding:10px 5px;
	color:#454343;
	font:normal 9px/14px Arial, sans-serif;
}
.footer p{ 
	font-size:9px;
}
.footer .nav li, .footer .nav li a{
	display:inline;
}
/* @group make responsive (max-width: 979px)
-------------------------------------*/

@media (max-width: 979px) {
	 body {
		padding:0;
	 }	 
	 .navbar .nav.nav-top .active > a, .navbar .nav.nav-top .active > a:hover, .navbar .nav.nav-top li > a:hover {
		background-color: #070707;
	}
	.logo.brand {
		margin:5px 20px 10px 20px;
	}
	
	.navbar-text.pull-right, .dropdown-toggle.pull-right {
		float:none;
	}
		
	.navbar .divider-vertical{ 
		display:none;
	}	
	
	.navbar-text.dropdown {
		background:#ffffff;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
	}
	
	.navbar-text > a {
		display:block;
		margin:0 0 5px;
		-webkit-border-radius: 5px 5px 0 0;
		-moz-border-radius: 5px 5px 0 0;
		border-radius: 5px 5px 0 0;
		background:#070707;
		color:#ffffff;
	}
	
	.navbar-fixed-top .dropdown .dropdown-menu {
		padding:20px;
		margin:0;
	}

	.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
		color:#ffffff;
		text-decoration:none;
	}
	
	.navbar .nav.nav-top .active > a:after {
		  display:none;
	}
	
	.span4.center-table {
		width:auto;
		position:static;
		box-shadow:none;
	}
	.show-table .span4:first-child {
		margin-left:0px;
	}
	
	.show-table .span4 {
		float:none;
		width:auto;
	}
	
	.show-table .span4, .show-table .span4:first-child {
		border:1px solid #d1d1d1;
		border-radius:7px;
		margin:0 0 20px;
		position:static;
	}
	
	.row.show-table {
		margin:0 0 20px;
		position:static;
	}
	
	span.border-bg {
		display:none;
	}

	.span12 .well.show-well table .form-inline .btn{
		margin:5px 0 0;
	}
    .sidebar {
		padding-bottom:20px;
		margin-bottom:0;
	}

	.navbar-text {
		position:static;
		top:auto;
		right:auto;
	}
}

@media (max-width: 1212px) { 
	.show-table .span4:first-child {
		margin-left:0;
	}
}

@media (min-width: 1007px) and (max-width: 1136px) { 
}

@media (min-width: 979px) { 
	body {
		padding:0;
	 }	
	.user_email {
		display:none;
	}
	[class^="icon-"], [class*=" icon-"] {
		vertical-align:-2px;
	}
	.navbar .dropdown-menu {
		background:#ffffff;
	}
	.navbar-fixed-top .dropdown .dropdown-menu {
		padding:20px 33px;
	}
	.sub-page .span2.columns.sidebar {
		margin-top:0;
	}
	.container.sub-page h3 {	
		margin:0 0 10px 60px;
	}
}

@media (max-width: 767px) {
  body {
    padding-right: 20px;
    padding-left: 20px;
  }
  .navbar-fixed-top,
  .navbar-fixed-bottom,
  .navbar-static-top {
    margin-right: -20px;
    margin-left: -20px;
  }
  .container-fluid {
    padding: 0;
  }
  .dl-horizontal dt {
    float: none;
    width: auto;
    clear: none;
    text-align: left;
  }
  .dl-horizontal dd {
    margin-left: 0;
  }
  .container {
    width: auto;
  }
  .row-fluid {
    width: 100%;
  }
  .row,
  .thumbnails {
    margin-left: 0;
  }
  .thumbnails > li {
    float: none;
    margin-left: 0;
  }
  [class*="span"],
  .row-fluid [class*="span"] {
    display: block;
    float: none;
    width: 100%;
    margin-left: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  .span12,
  .row-fluid .span12 {
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  .input-large,
  .input-xlarge,
  .input-xxlarge,
  input[class*="span"],
  select[class*="span"],
  textarea[class*="span"],
  .uneditable-input {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  .input-prepend input,
  .input-append input,
  .input-prepend input[class*="span"],
  .input-append input[class*="span"] {
    display: inline-block;
    width: auto;
  }
  .controls-row [class*="span"] + [class*="span"] {
    margin-left: 0;
  }
  .modal {
    position: fixed;
    top: 20px;
    right: 20px;
    left: 20px;
    width: auto;
    margin: 0;
  }
  .modal.fade.in {
    top: auto;
  }
}
@media (max-width: 767px) { 
	body {
		padding:0;
	 }	
	.navbar-fixed-top {
		margin-left: -5px;
		margin-right: 0;
	}
	.navbar .nav.nav-top > li > a, .navbar-text .nav a.dropdown-toggle {
		padding:5px 20px;
	}
	.nav-collapse.in [class^="icon-"], .nav-collapse.in [class*=" icon-"]{
		vertical-align:0;
	}
	.navbar .dropdown-menu .divider {
		display:block;
	}
	
	.dropdown-menu .divider {
		background:none;
		border-bottom:1px solid #000000;
	}
	.navbar .dropdown-menu {
		border-radius:0 0 4px 4px;		
	}
	.navbar .dropdown a.dropdown-toggle{ 
		background:#000000;
	}
	.navbar-fixed-top .dropdown .dropdown-menu {
		padding:5px 10px;
		margin:0;
	}
	
	.btn-navbar {
		margin-right:0;
	}
	.user_email {
		color:#cbcbcb;
		font-size:15px;
		padding-left:23px;
	}
	.navbar .dropdown-nav  a:active, .navbar .dropdown-nav a:hover {
		background:#070707;
	}
    .modal.fade.in {
        position: fixed;  
        top: 5%;
    }
}


/* @end 
-------------------------------------*/

/* @group styles for  IE 
-----------------------------------------*/

.ie8 .show-table .span4:first-child {
	margin-left:2px;	
}

.ie7 .show-table .span4:first-child {
	margin-left:2px;	
}

/* jqplot-target (Pie and Donut charts)
-------------------------------------*/
.jqplot-target {
	padding:20px;
}

table.jqplot-table-legend, table.jqplot-cursor-legend{
	border:0;
}

table.jqplot-table-legend, table.jqplot-cursor-legend {
	color:#333333;
	font:bold 12px/14px Arial, sans-serif;
}

td.jqplot-table-legend {
	padding:5px;
}

div.jqplot-table-legend-swatch {
	border-width:7px;
}

.jqplot-table-legend {
	background:none !important;
	border:0 !important;
}


.modal.fade.in {
    margin-top: -25%;
    top: 50%;
}
.typeahead.dropdown-menu .active > a {
    color:#39C;
}