.navbar-fixed-top .navbar-inner {
    box-shadow:none;
    background-color: #2c2c2c;
    background-image: -moz-linear-gradient(top, #515151, #010101);
    background-image: -ms-linear-gradient(top, #515151, #010101);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#515151), to(#010101));
    background-image: -webkit-linear-gradient(top, #515151, #010101);
    background-image: -o-linear-gradient(top, #515151, #010101);
    background-image: linear-gradient(top, #515151, #010101);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#515151', endColorstr='#010101', GradientType=0);
    border-bottom:1px solid #fbfbfb;
}

.navbar .nav.nav-top > li > a, .navbar-text .nav a.dropdown-toggle {
    padding:15px 20px;
    font: 16px/18px 'ColaborateRegular', Arial, sans-serif;
    position:relative;
    color:#b7b7b7;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.3);
}

.navbar-text .navbar .nav {
    float:none;
}

.navbar-text {
    position:absolute;
    top:0;
    right:0;
}

.navbar-fixed-top .container {
    position:relative;
}

.navbar .nav.nav-top > li > a:hover, .navbar-text > a.dropdown-toggle:hover, .navbar-text .nav .dropdown.open a.dropdown-toggle, .navbar-text .dropdown.open > a.dropdown-toggle:hover,
 .navbar .nav.nav-top .active > a, .navbar .nav.nav-top .active > a:hover, .navbar-text .dropdown.active > a, .navbar-text .dropdown.active > a:hover  { 
    color:#ffffff;
    text-decoration:none;
}

.nav-collapse.in a.dropdown-toggle{
    color:#ffffff;
}

.navbar .nav.nav-top .active > a, .navbar .nav.nav-top .active > a:hover, .navbar-text .dropdown.open > a.dropdown-toggle, .navbar-text .dropdown.open > a.dropdown-toggle:hover,
.navbar-text.dropdown.active > a, .navbar-text .dropdown.active > a.dropdown-toggle:hover {
    background-color: #070707;
}

.navbar-text .divider-vertical, .navbar .nav > li.divider-vertical {
    background-color: #1b1b1b;
    border-right: 1px solid #636363;
    height: 47px;
    overflow: hidden;
    width: 1px;
    margin:0;
}

.navbar .nav.nav-top .active > a:after {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #000000;
    position: absolute;
    bottom: -6px;
    left: 47%;
}

.navbar-text .dropdown-menu:after {
    left:auto;
    right:13px;
}
.navbar-text .dropdown-menu:before {
    border:0;
}

.nav-top [class^="icon-"], .navbar-text [class^="icon-"] { 
    margin-right:7px;
}

.navbar .nav.nav-top > li > a:hover .icon-portfolio, .navbar .nav.nav-top > li.active > a .icon-portfolio{
    background-image: url("../../assets/img/glyphicons-halflings-white.png");
    background-position: -48px -48px;
}


.navbar .nav.nav-top > li > a:hover .icon-trade, .navbar .nav.nav-top > li.active > a .icon-trade {
    background-image: url("../../assets/img/glyphicons-halflings-white.png");
    background-position: -408px 0;
}


.icon-down-arrow{
    background:url(./images/icon-arrow.png) no-repeat;
    width:7px;
    height:7px;
    display:inline-block;
    position: relative;
    top: 5px;
}

.navbar-fixed-top .dropdown .dropdown-menu {
    padding:20px 39px;
}

.navbar .dropdown-menu{
    background:#ffffff;
}

.navbar-fixed-top .dropdown .dropdown-menu ul {
    margin:0;
    list-style:none;
}

.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
    background:none;
    color:#3399cc;
    text-decoration:underline;
}

.navbar-fixed-top .dropdown .user-title {
    font: bold 14px/18px Arial, sans-serif;
    color:#757575;
}

.dropdown-menu li a {
    color:#3399cc;
}

.navbar-fixed-top .dropdown p {
    margin:0 0 5px;
    color:#333333;
}

.sidebar h3 {
    margin:0 0 10px 0;
}

.sidebar {
    background:#edefef;
    padding:20px;
    padding-bottom:5000px;
    margin-bottom:-5000px;
}

.row.clearfix {
    overflow:hidden;
    position:relative;
}
