<div class="container page dashboard-page">
        <div class="row show-table">
                <div class="span4">
                        <table class="table">
                            <tr>
                                <th colspan="3"><i class="icon-custom icon-gains"></i>days gains</th>
                            </tr>
                            <tr class="caps">
                                <td>Goog</td>
                                <td>appl</td>
                                <td>VMW</td>
                            </tr>
                            <tr>
                                <td>610.10</td>
                                <td>455.10</td>
                                <td>402.10</td>
                            </tr>
                            <tr>
                                <td>+15.05 <span>&uarr;</span></td>
                                <td>+10.00 <span>&uarr;</span></td>
                                <td>+7.12 <span>&uarr;</span></td>
                            </tr>
                        </table>
                </div>

                <div class="span4 center-table">
                    <table class="table">
                            <tr>
                                <th colspan="2"><img src="custom/images/logo-table.png" alt="NanoTrader" /></th>
                            </tr>
                            <tr>
                                <td>Index:</td>
                                <td>10240.99</td>
                            </tr>
                            <tr>
                                <td>Volume:</td>
                                <td>120.00</td>
                            </tr>
                            <tr>
                                <td>Change:</td>
                                <td class="green-color">+55.12 <span>&uarr;</span></td>
                            </tr>
                    </table>
                </div>
                <div class="span4">
                    <table class="table">
                            <tr>
                                <th colspan="3"><i class="icon-custom icon-lost"></i>days losses</th>
                            </tr>
                            <tr class="caps">
                                <td>BB</td>
                                <td>hp</td>
                                <td>orcl</td>
                            </tr>
                            <tr>
                                <td>35.10</td>
                                <td>22.50</td>
                                <td>10.00</td>
                            </tr>
                            <tr>
                                <td>&minus;5.12 <span>&darr;</span></td>
                                <td>&minus;3.07 <span>&darr;</span></td>
                                <td>&minus;1.05 <span>&darr;</span></td>
                            </tr>
                    </table>
                </div>
        </div>
        <div class="row">
            <div class="span6">
                <div class="well show-well">
                    <div class="title"><h3>Portfolio</h3><a href="#" class="tooltip-question"></a></div>
                    <div class="jqplot-target">
                        <img src="custom/images/diagramm1.jpg" alt="" />
                        <table class="jqplot-table-legend" style="position: absolute; right: 10px; top: 51.5px;">
                            <tbody>
                                <tr class="jqplot-table-legend">
                                    <td class="jqplot-table-legend" style="text-align: center; padding-top: 0pt;">
                                        <div><div class="jqplot-table-legend-swatch" style="border-color: rgb(243, 185, 25); background-color: rgb(75, 178, 197);"></div></div>
                                    </td>
                                    <td class="jqplot-table-legend" style="padding-top: 0pt;">GOOG</td>
                                </tr>
                                <tr class="jqplot-table-legend">
                                    <td class="jqplot-table-legend" style="text-align: center; padding-top: 0.5em;">
                                        <div><div class="jqplot-table-legend-swatch" style="border-color: rgb(71, 183, 233); background-color: rgb(234, 162, 40);"></div></div>
                                    </td>
                                    <td class="jqplot-table-legend" style="padding-top: 0.5em;">AAPL</td></tr>
                                <tr class="jqplot-table-legend">
                                    <td class="jqplot-table-legend" style="text-align: center; padding-top: 0.5em;">
                                        <div><div class="jqplot-table-legend-swatch" style="border-color: rgb(123, 185, 65); background-color: rgb(197, 180, 127);"></div></div>
                                    </td>
                                    <td class="jqplot-table-legend" style="padding-top: 0.5em;">VMW</td>
                                </tr>
                                <tr class="jqplot-table-legend">
                                    <td class="jqplot-table-legend" style="text-align: center; padding-top: 0.5em;">
                                        <div><div class="jqplot-table-legend-swatch" style="border-color: rgb(239, 229, 45); background-color: rgb(87, 149, 117);"></div></div>
                                    </td>
                                    <td class="jqplot-table-legend" style="padding-top: 0.5em;">Others</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="span6">
                <div class="well show-well">
                    <div class="title"><h3>Positions</h3><a href="#" class="tooltip-question"></a></div>
                    <div class="jqplot-target">
                        <img src="custom/images/diagramm2.jpg" alt="" />
                        <table class="jqplot-table-legend" style="position: absolute; right: 10px; top: 51.5px;">
                            <tbody>
                                <tr class="jqplot-table-legend">
                                    <td class="jqplot-table-legend" style="text-align: center; padding-top: 0pt;">
                                        <div><div class="jqplot-table-legend-swatch" style="border-color: rgb(244, 186, 26); background-color: rgb(75, 178, 197);"></div></div>
                                    </td>
                                    <td class="jqplot-table-legend" style="padding-top: 0pt;">HPQ</td>
                                    <td class="jqplot-table-legend red-color" style="padding-top: 0pt;">&minus;25.00 <span>&darr;</span></td>
                                </tr>
                                <tr class="jqplot-table-legend">
                                    <td class="jqplot-table-legend" style="text-align: center; padding-top: 0.5em;">
                                        <div><div class="jqplot-table-legend-swatch" style="border-color: rgb(240, 229, 46); background-color: rgb(234, 162, 40);"></div></div>
                                    </td>
                                    <td class="jqplot-table-legend" style="padding-top: 0.5em;">ORCL</td>
                                    <td class="jqplot-table-legend red-color" style="padding-top: 0pt;">&minus;25.00 <span>&darr;</span></td>
                                </tr>
                                <tr class="jqplot-table-legend">
                                    <td class="jqplot-table-legend" style="text-align: center; padding-top: 0.5em;">
                                        <div><div class="jqplot-table-legend-swatch" style="border-color: rgb(124, 186, 66); background-color: rgb(197, 180, 127);"></div></div>
                                    </td>
                                    <td class="jqplot-table-legend" style="padding-top: 0.5em;">VML</td>
                                    <td class="jqplot-table-legend red-color" style="padding-top: 0pt;">&minus;25.00 <span>&darr;</span></td>
                                </tr>
                                <tr class="jqplot-table-legend">
                                    <td class="jqplot-table-legend" style="text-align: center; padding-top: 0.5em;">
                                        <div><div class="jqplot-table-legend-swatch" style="border-color: rgb(240, 120, 96); background-color: rgb(87, 149, 117);"></div></div>
                                    </td>
                                    <td class="jqplot-table-legend" style="padding-top: 0.5em;">GOOG</td>
                                    <td class="jqplot-table-legend green-color" style="padding-top: 0pt;">+125.00 <span>&uarr;</span></td>
                                </tr>
                                <tr class="jqplot-table-legend">
                                    <td class="jqplot-table-legend" style="text-align: center; padding-top: 0.5em;">
                                        <div><div class="jqplot-table-legend-swatch" style="border-color: rgb(72, 184, 234); background-color: rgb(131, 149, 87);"></div></div>
                                    </td>
                                    <td class="jqplot-table-legend" style="padding-top: 0.5em;">AAPL</td>
                                    <td class="jqplot-table-legend green-color" style="padding-top: 0pt;">+105.00 <span>&uarr;</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span6">
                <div class="well show-well">
                    <div class="title"><h3>Account summary</h3></div>
                    <div class="table-outer">
                        <table class="table">
                            <tr>
                                <td>Curretnt Balance</td>
                                <td>$2,718.33</td>
                            </tr>
                            <tr>
                                <td>Opening Balance</td>
                                <td>$2,528.25</td>
                            </tr>
                            <tr>
                                <td>Cash Balance</td>
                                <td>$3,819.12</td>
                            </tr>
                            <tr>
                                <td>Total of Holdings</td>
                                <td>35</td>
                            </tr>
                            <tr class="summary">
                                <td>Current Gain/Loss</td>
                                <td class="average">$1247.05</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="span6">
                <div class="well show-well">
                    <div class="title"><h3>User statistics</h3></div>
                    <div class="table-outer">
                        <table class="table">
                            <tr>
                                <td>Account ID</td>
                                <td>000101</td>
                            </tr>
                            <tr>
                                <td>Account Creation Date</td>
                                <td>7 Feb 2012</td>
                            </tr>
                            <tr>
                                <td>Total Logins</td>
                                <td>12</td>
                            </tr>
                            <tr>
                                <td>Session Created Date</td>
                                <td>8 Feb 2012</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
                <div class="span12">							
                        <div class="show-transactions">
                            <a class="accordion-toggle">Recent Transactions</a>
                            <span class="border-bg"></span>
                        </div>								
                        <div class="well-outer" id="collapseOne">
                        <div class="well show-well">
                            <table class="table table-striped table-bordered">
                            <tr>
                                <th>Order ID</th>
                                <th>Order Status</th>
                                <th>Creation Date</th>
                                <th>Completion Date</th>
                                <th>Transaction Fee</th>
                                <th>Transaction Type</th>
                                <th>Sympol</th>
                                <th>Quantity</th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td><span class="completed">Completed</span></td>
                                <td>2 / 7 / 2012</td>
                                <td>2 / 7 / 2012</td>
                                <td>2</td>
                                <td>Buy</td>
                                <td>VMW</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td><span class="uncompleted">Uncompleted</span></td>
                                <td>2 / 7 / 2012</td>
                                <td>2 / 7 / 2012</td>
                                <td>3</td>
                                <td>Buy</td>
                                <td>AAPL</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td><span class="completed">Completed</span></td>
                                <td>2 / 7 / 2012</td>
                                <td>2 / 7 / 2012</td>
                                <td>3</td>
                                <td>Buy</td>
                                <td>VMW</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td><span class="uncompleted">Uncompleted</span></td>
                                <td>2 / 7 / 2012</td>
                                <td>2 / 7 / 2012</td>
                                <td>2</td>
                                <td>Buy</td>
                                <td>AAPL</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td><span class="completed">Completed</span></td>
                                <td>2 / 7 / 2012</td>
                                <td>2 / 7 / 2012</td>
                                <td>1</td>
                                <td>Buy</td>
                                <td>VMW</td>
                                <td>1</td>
                            </tr>
                        </table>
                    </div>	
                        <div class="pagination pagination-right">
                            <ul>
                                <li class="disabled"><a href="#">&laquo;</a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">&raquo;</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
        </div>
</div>
