<div class="footer">
    <div class="container clearfix">
        <p class="pull-left">Copyright &copy; 2012 VMWare, Inc. All rights reserved.</p>
        <ul class="nav pull-left">
            <li>
                <a href="contact.html">Contact Us</a> <span class="divider">|</span>
            </li>
            <li>
                <a href="help.html">Help</a>
            </li>
        </ul>
    </div>
</div>