#Tue, 07 May 2013 13:42:33 -0700
app.name=springtrader

app.framework=touch

app.classpath=${app.dir}/app.js,${app.dir}/app

app.build.dir=${workspace.build.dir}/${app.name}

app.cmd.version=3.1.1.274
app.id=1afa167c-cb2b-4e15-a601-ff42b8f201bc
