body {
	font: 76% Arial, Helvetica, sans-serif;
	background: #ECECEC;
	border: 0;
	margin: 0;
	min-width: 990px
}
.white {
	background: #FFF;
}
#wrapper {
	width: 100%;
}
a:visited, a:hover, a {
	color: #88C7FC;
	text-decoration: none
}
#vmware-bg {
	width: 950px;
	background: url('../images/1.0/bg-wrapper.gif') no-repeat;
}
/* HEADER */
#headerLogo {
	background: url('../images/1.0/ntlogo.jpg') no-repeat;
	width: 352px;
	padding: 50px 0 0 10px;
	cursor: pointer;
	float: left;
}
#headerLinks {
	position: absolute;
	top: 0;
	right: 0px;
	height: 20px;
	text-align: right;
	padding: 8px 10px 0 0;
	color: #FFF;
	font-size: 11px
}
#headerLinks ul {
	margin: 0;
}
#headerLinks li {
	margin: 0 5px;
	list-style: none;
	float: left;
}
#headerLinks ul li a {
	color: #88C7FC;
	text-decoration: none;
}
#headerLinks span {
	margin-left: 8px;
	font-weight: 500;
	color: #fff
}
fieldset {
	border: 0;
	margin: 6px 0 0;
	border-image: initial;
}
#content .loginPanel {
	margin: 10% auto 0;
}
.loginPanel {
	width: 350px;
	border: 3px solid #E3E4FA;
	background: #fff;
	padding: 16px 16px 10px;
	text-align: left;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-box-shadow: 0 3px 3px #999;
	-webkit-box-shadow: 0 3px 3px #999;
}
.loginPanel .fieldRow {
	height: 33px;
	max-height: 21px;
	position: relative;
	clear: none;
	margin-bottom: 2px;
	padding: 6px 0 5px 6px;
}
.loginPanel .fieldRow input {
	position: absolute;
	right: 5px;
	top: 5px;
	float: none;
}
.loginPanel .fieldRow label {
	top: 5px;
	position: absolute;
	text-align: left;
	float: none;
}
.loginPanel input[type="password"], .loginPanel input[type="text"] {
	margin-right: 5px;
}
.loginPanel input[type="submit"] {
	font-size: 1.1em ! important;
}
.loginPanel .submitButtonContainer {
	text-align: right;
	margin-right: 10px;
}
.loginButtons {
	text-align: right;
}
.loginPanel form fieldset {
	padding: 0 5px;
}
.loginPanel form fieldset p {
	margin: 1em 0;
}
.loginPanel form fieldset p label {
	font-weight: bold;
	padding-left: 5px;
}
.fieldsetTitle {
	height: 17px;
	font-weight: 700;
	font-size: 15px;
	padding: 2px
}
.fieldsetNote {
	height: 15px;
	font-size: 13px;
	color: #444;
	border-bottom: 1px dotted gray;
	margin-bottom: 10px;
	padding: 3px 2px 8px
}
.button {
	float: right;
	margin: 10px 0px 0px 10px;
}
#header {
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
}
#header, #footer {
	position: relative;
	z-index: 2;
	height: 64px;
	background: transparenturl(../images/1.0/header_background.jpg) repeat-x scroll
}
#marketWatch {
	position: relative;
	height: 72px;
	background: #CCC
}
#streamerContent {
	margin-left: 20%
}
#winners {
	color: #060;
}
#losers {
	color: #FF0000
}
.gray {
	color: gray
}
#button a, #button a:visited, #button a:hover, #button a:active {
	color: #FFF;
	font-weight: 700;
	outline: none;
}
.button {
	color: #fff;
	font-weight: 700;
	font-size: 11px !important;
	width: auto;
	overflow: visible;
	border: 1px solid #84B96D;
	background: #2DBF3D bottom;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 3px;
	padding: 3px 15px;
	cursor: pointer;
}
.container {
	position: absolute;
	width: 950px;
	height: 600px;
}
.nav {
	width: 950px;
	font-size: 12px;
}
.nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	background: url(../images/1.0/bg-nav.png) no-repeat;
	width: 950px;
	font-weight: bold;
	height: 45px;
	*
	background: none;
	*
	filter: progid :dximagetransform.microsoft.alphaimageloader(src='//www.vmware.com/files/templates/images/bg-nav.png', sizingmethod='crop');
	padding-left: 60px;
}
.nav ul li {
	float: left;
	background: url(../images/1.0/sep-nav.gif) no-repeat right;
	position: relative;
	padding: 0;
}
.nav ul li a {
	color: #4d4e53;
	float: left;
	height: 41px;
	line-height: 38px;
	padding: 5px 60px;
	text-align: center;
	width: inherit;
}

.nav ul li:hover a, .nav ul li.hover a, .nav ul a:hover, .nav ul a.hover {
	background: url(../images/1.0/bg-nav-hover.gif) repeat-x;
	color: #fff;
}

.nav li.last {
	background: none;
	margin: 0px -20px;
}
.nav ul li.last a {
	width: inherit !important;
}
.nav li.active a {
	background: url(../images/1.0/bg-nav-active.gif) no-repeat
}
.last {
	right: -8px !important;
}
.summary {
	width:700px;
	height: 600px;
	float: left;
	font-size: 12px;
}

