body {
	font: 76% Arial, Helvetica, sans-serif;
	border: 0;
	margin: 0;
	min-width: 990px
}
.white {
	background: #FFF;
}
#wrapper {
	width: 100%;
}
a:visited, a:hover, a {
	color: #88C7FC;
	text-decoration: none
}
#outer {
	width: 80%;
	background-color: #FFFFFF;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
}
#vmware-bg {
	background: url('../images/1.0/bg-wrapper.gif') repeat-x;
}
/* HEADER */
#headerLogo {
	background: url('../images/1.0/ntlogo.jpg') no-repeat;
	width: 153px;
	height: 23px;
	margin-left: 35px;
	margin-top: 20px;
	cursor: pointer;
	float: left;
}
#headerLinks ul li a {
	color: #88C7FC;
	text-decoration: none;
}
fieldset {
	border: 0;
	margin: 6px 0 0;
}
#content .loginPanel {
	width: 350px;
	background: #CCC;
	margin-left: 200px;
	margin-right: 35px;
	margin-bottom: 10px;
	margin-top: 50px;
}
.loginPanel {
	width: 350px;
	border: 3px solid #E3E4FA;
	background: #fff;
	padding: 16px 16px 10px;
	text-align: left;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-box-shadow: 0 3px 3px #999;
	-webkit-box-shadow: 0 3px 3px #999;
}
.loginPanel .fieldRow {
	height: 33px;
	max-height: 21px;
	position: relative;
	clear: none;
	margin-bottom: 2px;
	padding: 6px 5px 6px;
}
.loginPanel .fieldRow input {
	position: absolute;
	right: 5px;
	top: 5px;
	float: none;
}
.loginPanel .fieldRow label {
	top: 9px;
	position: absolute;
	text-align: left;
	float: none;
}
.loginPanel input[type="password"], .loginPanel input[type="text"] {
	margin-right: 5px;
}
.loginPanel input[type="submit"] {
	font-size: 1.1em ! important;
}
.loginPanel .submitButtonContainer {
	text-align: right;
	margin-right: 10px;
}
.loginButtons {
	text-align: right;
}
.loginPanel form fieldset {
	padding: 0 5px;
}
.loginPanel form fieldset p {
	margin: 1em 0;
}
.loginPanel form fieldset p label {
	font-weight: bold;
	padding-left: 5px;
}
.fieldsetTitle {
	height: 17px;
	font-weight: 700;
	font-size: 15px;
	padding: 2px
}
.fieldsetNote {
	height: 15px;
	font-size: 13px;
	color: #444;
	border-bottom: 1px dotted gray;
	margin-bottom: 10px;
	padding: 3px 2px 8px
}
.button {
	float: right;
	margin: 10px 0px 0px 10px;
}
#header {
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
}
#header, #footer {
	position: relative;
	z-index: 2;
	height: 60px;
	background: transparenturl(../images/1.0/header_background.jpg) repeat-x scroll
}
#marketWatch {
	position: relative;
	height: 72px;
	width: 700px;
	background: #CCC;
	margin-left: 35px;
	margin-right: 35px;
	margin-bottom: 10px;
	margin-top: 10px;
	border-radius: 10px;
	-moz-border-radius: 10px;
}
#streamerContent {
	margin-left: 10%;
}
#winners {
	color: #060;
}
#losers {
	color: #FF0000
}
.gray {
	color: gray
}
#button a, #button a:visited, #button a:hover, #button a:active {
	color: #FFF;
	font-weight: 700;
	outline: none;
}
.button {
	color: #fff;
	font-weight: 700;
	font-size: 11px !important;
	width: auto;
	overflow: visible;
	border: 1px solid #84B96D;
	background: #2DBF3D bottom;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 3px;
	padding: 3px 15px;
	cursor: pointer;
}
.container {
	position: absolute;
}
.nav {

	font-size: 12px;
}
.nav ul {
	margin: 5px;
	list-style: none;
	background: url(../images/1.0/bg-nav.png);
	font-weight: bold;
	height: 41px;
	width: 100%;
	padding-left: 15%;
}
.nav ul li {
	float: left;
	background: url(../images/1.0/sep-nav.gif) no-repeat right;
	height: 39px;
	position: relative;
	padding: 0px;
}
.nav ul li  a {
	color: #4d4e53;
	float: left;
	line-height: 38px;
	text-align: center;
	height: auto;
	width: 20%;
	padding-top: 5px;
	padding-right: 45px;
	padding-bottom: 10px;
	padding-left: 45px;
}
.nav ul li:hover a, .nav ul li.hover a, .nav ul a:hover, .nav ul a.hover {
	background: url(../images/1.0/bg-nav-hover.gif) repeat-x;
	color: #fff;
}
.nav li.last {
	background: url(../images/1.0/bg-nav.png) right;
	margin: 0px;
	padding-right: 5%;
}
.nav ul li.last a {
	width: inherit !important;
}
.nav li.active {
	background: url(../images/1.0/bg-nav-active.gif) no-repeat
}
#last {
	right: -8px !important;
}
.summary {
	width: 700px;
	height: 600px;
	float: left;
	font-size: 12px;
	margin-left: 35px;
	margin-right: 35px;
}
#trade-table {
	background-color: #ECECEC;
	border: 1px solid #B7B8B7;
	height: 130px;
	width: 240px;
	margin-bottom: 10px;
	margin-top: 30px;
	margin-left: 400px;
	border-radius: 10px;
	-moz-border-radius: 10px;
}
#recent-trade {
	background-color: #ECECEC;
	border: 1px solid #B7B8B7;
	height: 100px;
	width: 610px;
	margin-bottom: 10px;
	margin-top: 30px;
	margin-left: 30px;
}
#profile {
	margin-top: 30px;
	margin-left: 100px;
	background-color: #ECECEC;
	border: 1px solid #B7B8B7;
	width: 500px;
}
#Menu {
	border-bottom-width: 10px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
}
#Menu ul {
	text-align: left;
	margin: 15px 0 5px 0;
}
#Menu li {
	display: inline;
}
#Menu li a {
	padding: 7px 0 6px 10px;
	color: #5d5350;
	text-decoration: none;
	font-weight: bold;
	background: url(../images/1.0/tabbed-menu-left.gif) no-repeat left top;
}
#Menu li a:hover {
	background: url(../images/1.0/tabbed-menu-left.gif) no-repeat left bottom;
}
#Menu li a span {
	padding: 7px 10px 6px 0;
	background: url(../images/1.0/tabbed-menu-right.gif) no-repeat right top;
}
#Menu li a:hover span {
	background: url(../images/1.0/tabbed-menu-right.gif) no-repeat right bottom;
}